body
{
	margin:0px;
}
#grey-back
{
	height:24px;
	width:1400px;
	background-color:#DAD8DB;
	margin:-10px 0px 0px 0px;
    padding:20px 31px 3px 413px;
}
#search-bar
{
	height:20px;
	width:609px;
	background-color:#F7F7F9;
	margin:-30px 10px 10px 10px;
}
#link 
{
	font-weight:bold;
	font-size:16px;
	margin:10px 10px 10px 10px;
	padding:-3px 10px 10px 10px;
	text-align:center;
}
#sound
{
	color:blue;
	margin:-26px 10px 10px 566px;
}
#refresh
{
	margin:-28px 10px 10px 589px;
}
.top-nav-bar
{
	background:white;
	height:68px;
	width:1519px;
}
.top-nav-ul
{
	margin:2px 10px 10px 684px;
    padding:4px 10px 10px 51px;	
}
#logo-styling
{
	height:82px;
	width:195px;
	margin:0px 10px -72px 29px;
}
#icon1
{
	color:red;
	margin:-2px 0px 20px -393px;
	display:inline;
}
#icon2
{
	color:yellow;
	margin:-7px 10px 10px 6px;
	display:inline;
}
#icon3
{
	color:green;
	margin:10px 10px 10px -4px;
	display:inline;
}
#add-tab
{
	margin:-19px 10px 10px 1090px;	
	color:#ACACAC;
}
.top-nav-li
{
	list-style:none;
	display:inline-block;
	margin:10px 10px 10px -26px;
}
.top-nav-icon
{
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
	text-align:center;
}
.top-nav-anchor
{
	color:#5B5B5B;
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
	text-align:center;
    text-transform:upper-case;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}
.Image
{
	height:446px;
	width:1550px;
	position:relative;
	background-color:#D3D8DC;
}
.Image .text
{
	position:relative;
	color:#0A0E11;
	margin:-288px 10px 10px 153px;
}
#image-styling
{
	height:300px;
	width:857px;
	margin:107px 10px 10px 681px;
}
#para1
{
	font-size:63px;
	margin:10px 10px 10px 10px;
}
#para2
{
	font-size:28px;
	margin:10px 10px 10px 10px;
}
#button-styling
{
	font-size:10px;
	background-color:#D3D8DC;
	padding:9px 24px 9px 24px;
	margin:20px 10px 10px 13px;
}
#main-moto
{
	font-size:25px;
	text-align:center;
	margin:57px 10px 10px 10px;
}
#explain
{
	font-size:10px;
	text-align:center;
	margin:20px 10px 10px 10px;
}